/* BASE COLOR PALETTE */
/* FONTS */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

html, body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  color: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  cursor: default; }

ul, li {
  cursor: default; }

a {
  color: #eee;
  text-decoration: none; }

.card {
  position: relative;
  text-align: center;
  width: 250px; }
  .card .icon {
    box-sizing: content-box;
    overflow: hidden;
    display: inline-block;
    background-color: #00bcd4;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #0097a7;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    z-index: 3;
    transition: box-shadow ease 500ms;
    cursor: pointer; }
    .card .icon span {
      color: #ffffff;
      position: relative;
      right: 3px;
      bottom: 3px; }
  .card .icon:hover {
    box-shadow: 1px 1px 5px #eee, -1px 1px 5px #eee, 1px -1px 5px #eee, -1px -1px 5px #eee; }
  .card .icon:active {
    box-shadow: none; }
  .card .panel {
    position: relative;
    top: -50px;
    height: auto;
    padding: 40px 10px 10px 10px;
    border: 5px solid #0097a7;
    margin: 0px;
    background-color: #00bcd4; }
    .card .panel ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px; }
      .card .panel ul li {
        text-align: center;
        margin: 10px;
        padding: 10px; }
    .card .panel .comming-soon-subsection {
      color: #777; }
      .card .panel .comming-soon-subsection h4 {
        padding: 5px; }
      .card .panel .comming-soon-subsection ul li {
        background-color: inherit; }

.tile {
  display: inline-block;
  border: 1px solid #eee;
  padding: 5px;
  margin: 50px 30px;
  box-shadow: 2px 2px 5px #777; }
  .tile .tile-thumbnail {
    margin: 0px auto;
    padding: 0px;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #00bcd4; }
    .tile .tile-thumbnail img {
      width: 600px;
      height: auto;
      opacity: 0.5;
      transition: all 0.3s;
      transition-timing-function: ease-in-out; }
    .tile .tile-thumbnail img:hover {
      opacity: 1; }
  .tile .tile-content {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px; }
    .tile .tile-content .tile-title {
      color: #777;
      text-align: center;
      letter-spacing: 2px;
      font-weight: 400;
      font-size: 125%;
      margin: 25px; }

.btn {
  margin: 0px auto;
  padding: 15px 10px;
  border-radius: 25px;
  background-color: #4caf50;
  border: 1px solid #5cb860;
  color: #eee;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.5 ease-in-out;
  z-index: 1;
  display: block;
  cursor: pointer; }

.btn:hover {
  z-index: 10;
  box-shadow: 2px 2px 5px #777; }

.disabled {
  background-color: #777; }

.ink {
  display: block;
  position: absolute;
  background-color: #ffffff;
  opacity: 0.4;
  border-radius: 100%;
  transform: scale(0); }

.ink-animate {
  animation: ripple 0.5s ease-in-out; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }
#navbar-section {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  background-color: #0097a7;
  color: #eee;
  box-shadow: 0 1px 5px #777; }
  #navbar-section .logo {
    float: left;
    display: inline-block;
    padding: 10px; }
    #navbar-section .logo span {
      font-weight: 400; }
  #navbar-section nav {
    padding: 0px;
    margin: 0px;
    height: auto;
    position: relative;
    float: left;
    background-color: transparent; }
    #navbar-section nav ul {
      list-style-type: none; }
      #navbar-section nav ul li {
        float: left; }
        #navbar-section nav ul li a {
          display: block;
          text-align: center;
          padding: 20px 40px;
          cursor: pointer; }
        #navbar-section nav ul li a:hover, #navbar-section nav ul li a:focus {
          background-color: #4dd0e1;
          color: #777; }
      #navbar-section nav ul li:last-child {
        border-bottom: none; }

#welcome-section {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  background-color: #e0f7fa;
  background-image: url("../img/cover-hdd.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7; }

#welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 150%;
  text-transform: uppercase;
  min-width: 250px;
  text-align: center;
  padding: 35px;
  z-index: 2; }

#welcome-message::after {
  content: "";
  background-color: #90a4ae;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }

#about-me-section {
  position: relative;
  min-width: 100%;
  width: auto;
  height: auto;
  background-color: #80deea; }
  #about-me-section h1 {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 200%;
    box-shadow: 0px 1px 5px #777;
    padding: 25px;
    background-color: #00bcd4; }
  #about-me-section #profile-subsection {
    margin: 25px; }
    #about-me-section #profile-subsection #profile-image {
      display: block;
      margin: 50px auto;
      width: 300px;
      height: auto;
      border-radius: 5%;
      border: 5px solid #0097a7;
      box-shadow: 1px 1px 5px #777; }
    #about-me-section #profile-subsection .content-box {
      margin: 25px auto;
      max-width: 800px;
      color: #eee;
      background-color: #4dd0e1;
      padding: 30px;
      text-align: justify;
      border: 1px solid #eee;
      box-shadow: 1px 1px 5px #777; }
  #about-me-section h2 {
    text-align: center;
    letter-spacing: 3px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 150%;
    box-shadow: 0px 1px 5px #777;
    background-color: #00bcd4;
    padding: 15px 50px;
    width: 95%;
    border-radius: 50px;
    margin: 50px auto; }
  #about-me-section #skills-subsection {
    padding: 5px; }
    #about-me-section #skills-subsection .card .icon {
      border-width: 0px; }
    #about-me-section #skills-subsection .card .panel {
      border-width: 0px;
      padding: 0px; }

#portfolio-section {
  min-width: 100%;
  width: auto;
  height: auto;
  background-color: #ffffff; }
  #portfolio-section h1 {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 200%;
    box-shadow: 0px 1px 5px #777;
    background-color: #00bcd4;
    padding: 25px; }

#contact-section {
  border-top: 5px solid #0097a7;
  border-bottom: 5px solid #0097a7;
  background-color: #006064; }
  #contact-section .contact-item {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    text-align: center;
    font-size: 200%; }
    #contact-section .contact-item span {
      color: #ffffff; }
    #contact-section .contact-item a:hover span {
      color: #00bcd4;
      transition: color ease-in-out 0.5s; }
    #contact-section .contact-item a:active span {
      text-shadow: 1px 1px 1px #4dd0e1, -1px -1px 1px #4dd0e1, -1px 1px 1px #4dd0e1, 1px -1px 1px #4dd0e1; }

@media screen and (min-width: 320px) and (max-width: 949px) {
  #navbar-section {
    text-align: center;
    box-shadow: 0 1px 5px #777; }
    #navbar-section .logo {
      margin: 0 auto; }
    #navbar-section nav {
      position: fixed;
      top: 57px;
      width: 100%;
      height: auto;
      box-shadow: 0px 1px 5px #777;
      clip-path: circle(0px at top);
      transition: clip-path ease-in-out 700ms; }
      #navbar-section nav ul li {
        float: none; }
        #navbar-section nav ul li a {
          display: block;
          background-color: #0097a7;
          border-top: 1px solid #006974; }
        #navbar-section nav ul li a::after {
          content: "";
          visibility: hidden;
          display: block;
          height: 0;
          clear: both; }
    #navbar-section .nav-show {
      clip-path: circle(150% at top); }
    #navbar-section .nav-toggle-button {
      padding: 20px;
      position: absolute;
      top: 8px;
      right: 4px;
      cursor: pointer; }
      #navbar-section .nav-toggle-button .hamburger, #navbar-section .nav-toggle-button .hamburger::before, #navbar-section .nav-toggle-button .hamburger::after {
        content: '';
        display: block;
        background: #ffffff;
        height: 3px;
        width: 40px;
        border-radius: 3px;
        transition: all ease-in-out 500ms; }
      #navbar-section .nav-toggle-button .hamburger::before {
        transform: translateY(-8px); }
      #navbar-section .nav-toggle-button .hamburger::after {
        transform: translateY(5px); }
    #navbar-section .nav-toggle-button-transform .hamburger::before {
      opacity: 0; }
    #navbar-section .nav-toggle-button-transform .hamburger {
      transform: rotate(45deg); }
    #navbar-section .nav-toggle-button-transform .hamburger::after {
      transform: rotate(90deg) translateX(-2.5px); }

  #about-me-section #profile-subsection #profile-image {
    max-width: 250px; }
  #about-me-section #skills-subsection {
    margin: 0 5%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center; }
    #about-me-section #skills-subsection .card {
      margin: 50px auto;
      text-align: center;
      overflow: hidden; }
      #about-me-section #skills-subsection .card .icon {
        border: 3px solid #0097a7; }
      #about-me-section #skills-subsection .card .panel {
        width: 250px;
        height: auto;
        padding-top: 45px;
        border: 3px solid #0097a7;
        overflow: hidden; }

  #portfolio-section #portfolio-tiles {
    display: flex;
    flex-flow: column nowrap;
    margin: 50px auto; }
    #portfolio-section #portfolio-tiles .tile {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto; } }
@media screen and (min-width: 950px) and (max-width: 1919px) {
  #about-me-section #skills-subsection {
    margin: 0 2%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around; }
    #about-me-section #skills-subsection .card {
      flex-grow: 0.3;
      margin: 50px auto;
      text-align: center;
      overflow: hidden; }
      #about-me-section #skills-subsection .card .icon {
        border: 3px solid #0097a7; }
      #about-me-section #skills-subsection .card .panel {
        height: auto;
        padding-top: 45px;
        border: 3px solid #0097a7;
        overflow: hidden; }

  #portfolio-section #portfolio-tiles {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around; }

  #contact-section {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around; } }
@media screen and (min-width: 1920px) {
  #about-me-section #skills-subsection {
    margin: 0 2%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around; }
    #about-me-section #skills-subsection .card {
      flex-grow: 0.3;
      margin: 50px auto;
      text-align: center;
      overflow: hidden; }
      #about-me-section #skills-subsection .card .icon {
        border: 3px solid #0097a7; }
      #about-me-section #skills-subsection .card .panel {
        height: auto;
        padding-top: 45px;
        border: 3px solid #0097a7;
        overflow: hidden; }

  #portfolio-section #portfolio-tiles {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around; }

  #contact-section {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-around; } }

/*# sourceMappingURL=style.css.map */
