#contact-section {
  border-top: 5px solid $cyan-700;
  border-bottom: 5px solid $cyan-700;
  background-color: $cyan-900;
  .contact-item {

    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    span {
      color: $white;
    }
    text-align: center;
    font-size: 200%;
    a:hover {
      span {
        color: $cyan-500;
        transition: color ease-in-out 0.5s;
      }
    }
    a:active {
      span {
        text-shadow: 1px 1px 1px $cyan-300, -1px -1px 1px $cyan-300, -1px 1px 1px $cyan-300, 1px -1px 1px $cyan-300;
      }
    }
  }
}
