#navbar-section {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  background-color: $cyan-700;
  color: $gray-lighter;
  -webkit-box-shadow: 0 1px 5px $gray-light;
          box-shadow: 0 1px 5px $gray-light;
  .logo {
    float: left;
    display: inline-block;
    padding: 10px;
    span {
      font-weight: 400;
    }
  }
  nav {
    padding: 0px;
    margin: 0px;
    height: auto;
    position: relative;
    float: right;
    background-color: transparent;
    ul {
      list-style-type: none;
      li {
        float: left;
        a {
          display: block;
          text-align: center;
          padding: 20px 40px;
          cursor: pointer;
        }
        a:hover, a:focus {
          background-color:  $cyan-300;
          color: $gray-light;
        }
      }
      li:last-child {
        border-bottom: none;
      }
    }
  }
}
