@mixin section-title {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 250%;
}

@mixin subsection-title {
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 200%;
}

@mixin card-title {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 125%;
  margin: 25px;
}

@mixin tile-title {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 125%;
  margin: 25px;
}
