
/* BASE COLOR PALETTE */

$black: #000000;
$white: #ffffff;

$gray-darker: #222;
$gray-dark: #333;
$gray: #555;
$gray-light: #777;
$gray-lighter: #eee;

$cyan-50: #e0f7fa;
$cyan-200: #80deea;
$cyan-300: #4dd0e1;
$cyan-500: #00bcd4;
$cyan-700: #0097a7;
$cyan-900: #006064;

$green-300: #81c784;
$green-500: #4caf50;

$brown-300: #a1887f;
$brown-500: #795548;

$blue-gray-300: #90a4ae;
$blue-gray-400: #78909c;
$blue-gray: #607d8b;
$blue-gray-600: #546e7a;

/* FONTS */

$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-size-base: 16px;
