.card {
	display: block;
	text-align: center;
	.icon {
		display: block;
		position: relative;
		text-align: center;
		z-index: 2;
	}
	.card-title {
		color: $gray;
	}
	.panel {
		position: relative;
		top: -20px;
		height: auto;
		padding: 40px 10px;
		margin: 0px;
		background-color: transparent;
		color: $gray;
		text-align: justify;

		a {
			color: $gray;
		}
		a:hover {
			color: $gray-light;
		}
		a:active {
			text-decoration: underline;
		}
	}
}
