.tile {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 50px 20px;
  border: 1px solid $gray-lighter;
  -webkit-box-shadow: 2px 2px 5px $gray-light;
          box-shadow: 2px 2px 5px $gray-light;
  .tile-icon {
    margin: 25px;
    text-align: center;
    color: $gray-light;
  }
  .tile-content {
    text-align: center;
    .tile-title {
      margin: 25px;
      color: $gray-light;
      @include tile-title;
    }
    .tile-description {
      margin: 30px 10px;
      color: $gray-light;
      text-align: center;
    }
  }
}
